body {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #25281F;
}

nav {
    width: 100%; 
}

.header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.1875em 0 1.25em 0;
    display: none;
    
}

.logo, #primaryLogo {
    color: #25281F;
    font-family: 'Domine', 'Georgia', 'serif';
    font-size: 2.25rem;
    font-weight: 700;
}
.ToggleIcon img {
    width: 35px;
    height: 35px;
}


.navContainer {
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.navigationIconsContainer {
    width: 100%;
    display: flex;
    gap: 1.875em;
    justify-content: right;
   
    margin-top: 2.0625em;
    margin-bottom: 2.0625em;
    list-style-type: none;
}

.icon {
    width: 50px;
    height: 50px;
}

.primaryNavigationContainer {
    width: 100%;
    display: flex;
    gap: 3.75em;
    justify-content: left;
    
    margin-top: 2.1875em;
    margin-bottom: 2.1875em;
    list-style-type: none;
    padding: 0;
}

.primaryNavigationContainer a {
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Heebo', 'Arial', 'Sans Serif';
    font-weight: 400;
    color: #25281F;
    transition: 0.2s;
    
}

#activePage {
    font-weight: 600;
    border-bottom: 3px solid #25281F;
}

.primaryNavigationContainer a:hover {
    font-weight:500;
    cursor: pointer;
}



.hero {
    display: flex;
    margin: 0 auto;
    width: 80%;
    gap: 3.125em;
    padding-top: 1.875em;
    padding-bottom: 4em;
}

.heroImg {
    width: 55%;
    flex: 1 1 50%;
    overflow: hidden;
    position: relative;
    
}

.heroImg img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;    
}

.introContainer {
    background-color: #F3B56C;
    width: 45%;
    max-width: 381px;
    padding: 2.1875em;
}

.introText h1 {
    margin-top: 0px;
    color: #25281F;
    font-family: 'Domine', 'Georgia', 'serif';
    font-size: 3rem;
    font-weight: 700;
}

.introText h3 {
    margin-bottom: 0;
    color:#25281F;
    font-size: 1.75rem;
    font-family: 'Heebo', 'Arial', 'Sans Serif';
    font-weight: 400;
}

.projectsBackground {
    width: 100%;
    background-color: #BBDDEC;
    padding: 4em 0;
    display: flex;
    flex-direction: column;
    gap: 3.4376em;   
}

.singleProjectContainer {
    background-color: white;
    width: 90%;
    padding: 3.4376em 0px;
    margin: 0 auto;
    display: flex;
    max-width: 1130px;
}

.project {
    width: 88.8%;
    margin: 0 auto;
    display: flex;
    gap: 3.125em;   
}

.projectInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.projectText h2, h4 {
    color:#25281F;
    font-family: 'Heebo', 'Arial', 'Sans Serif';
    font-weight: 400;
}

.projectText h2 {
font-size: 2.25rem;
margin-top: 0;
}

.projectText h4 {
    font-size: 1.5rem;
}

.projectImg {
    width: 50%;
    display: flex;
}

.projectImg img {
    max-width: 100%;
}

 .projectButton button {
    font-family: 'Heebo', 'Arial', 'Sans Serif';
    font-size: 1.5rem;
    color: #25281F;
    background-color: #F3B56C;
    border: 0;
    border-radius: 10px;
    padding: 0.5em 1.5em;
    transition: 02.s;
}

.projectButton button:hover {
    font-weight: 500;
    cursor: pointer;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.875em;
    padding: 3.125em 0 2.1875em 0;
}

.footerIconsContainer {
    display: flex;
    gap: 1.875em;
    width: 100%;
    justify-content: center;
    text-decoration: none;
}

.copyrightTextContainer {
    display: flex;
    justify-content: center;
    font-family: 'Heebo', 'Arial', 'Sans Serif';
    font-size: 0.75rem;
    color: #25281F;
}

.copyrightTextContainer p {
    margin: 0;
}



/*media query for small column hero*/
@media only screen and (max-width: 800px) {
   .hero {
    flex-direction: column-reverse;
   }
   
    .heroImg {
    width: 100%;
    flex: none;
    
   }
   .heroImg img {
    position: static;
    max-width: 100%;
    transform: none;
   }

   .introContainer {
    margin: 0 auto;
    width: 80%;
   }
   .project {
    flex-direction: column;
    }
    .projectImg, .projectInfo {
    width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .header {
        display: flex;
    }

    .navContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.875em;
        display: none;
    }

    #primaryLogo {
        display: none;
    }

    .navigationIconsContainer {
        justify-content: center;
        padding: 0;
        margin-top: 1.875em;
        margin-bottom: 0;
    }

    .primaryNavigationContainer {
        flex-direction: column;
        gap: 1.875em;
        align-items: center;
        margin: 0;
    }

    #crossIcon {
        display: none;
    }
}
